# EDA_Tiki Datasets
## 1. Data cleaning
### 1.1 Import libraries and datasets
* In here, I also merge all the datasets.

In [246]:
import pandas as pd
import numpy as np
import seaborn as sns                       #visualisation
import matplotlib.pyplot as plt             #visualisation
%matplotlib inline     
sns.set(color_codes=True)

In [247]:
# Load and union all the data
df_union = pd.DataFrame()
for i in range(1, 16):
    df = pd.read_csv("../Data/product-data-{}.csv".format(i))
    df_union = pd.concat([df_union, df], ignore_index=True)
# Preview the first 5 records
df_union.head()

,id,name,data_version,day_ago_created,price,list_price,original_price,discount,discount_rate,rating_average,...,favourite_count,all_time_quantity_sold,inventory_status,inventory_type,has_ebook,url_path,authors,seller_name;spid;price,breadcrumbs,number_of_page
0,53434797,Sách Tài Chính Cá Nhân Cho Người Việt Nam - Tặ...,3300,1147,184000,200000,200000,16000,8,4.7,...,0,13092.0,available,instock,False,sach-tai-chinh-ca-nhan-cho-nguoi-viet-nam-tang...,Lâm Minh Chánh,BizUni;53434798;184000 | HappyLive;59587392;20...,Nhà Sách Tiki | Sách tiếng Việt | Sách kinh tế...,NaN
1,75953557,Tâm Lý Học Về Tiền,3300,888,110000,189000,189000,79000,42,4.8,...,0,22842.0,available,instock,False,tam-ly-hoc-ve-tien-p75953557.html?spid=75953558,Morgan Housel,Tiki Trading;75953558;110000 | 1980 BOOKS HCM;...,Nhà Sách Tiki | Sách tiếng Việt | Sách kinh tế...,384.0
2,126853168,Thấu hiểu Hành vi giá Thị trường Tài chính (Un...,3300,627,367000,367000,367000,0,0,5.0,...,0,1459.0,available,instock,False,thau-hieu-hanh-vi-gia-thi-truong-tai-chinh-und...,NaN,finfin;126853169;367000 | SG Trading;142827069...,Nhà Sách Tiki | Sách tiếng Việt | Sách kinh tế...,448.0
3,146223395,Cách thức kinh doanh và đầu cơ cổ phiếu! – How...,3300,561,349000,349000,349000,0,0,4.8,...,0,3824.0,available,instock,False,cach-thuc-kinh-doanh-va-dau-co-co-phieu-how-to...,Richard Smitten,HappyLive;146223403;349000,Nhà Sách Tiki | Sách tiếng Việt | Sách kinh tế...,320.0
4,53532186,Tuyệt kỹ Giao dịch bằng đồ thị nến Nhật – Japa...,3300,1146,499000,499000,499000,0,0,4.8,...,0,12664.0,available,instock,False,tuyet-ky-giao-dich-bang-do-thi-nen-nhat-japane...,Steve Nison,HappyLive;53532187;499000,Nhà Sách Tiki | Sách tiếng Việt | Sách kinh tế...,392.0

### 1.2 Data overview

In [248]:
# Check the type and count the null value each column
df_union.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14467 entries, 0 to 14466
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      14467 non-null  int64
 1   name                    14467 non-null  object
 2   data_version            14467 non-null  int64
 3   day_ago_created         14467 non-null  int64
 4   price                   14467 non-null  int64
 5   list_price              14467 non-null  int64
 6   original_price          14467 non-null  int64
 7   discount                14467 non-null  int64
 8   discount_rate           14467 non-null  int64
 9   rating_average          14467 non-null  float64
 10  review_count            14467 non-null  int64
 11  favourite_count         14467 non-null  int64
 12  all_time_quantity_sold  6898 non-null   float64
 13  inventory_status        14467 non-null  object
 14  inventory_type          14467 non-null  object
 15  has_ebook               14467 non-null  bool
 16  url_path                14467 non-null  object
 17  authors                 7681 non-null   object
 18  seller_name;spid;price  14428 non-null  object
 19  breadcrumbs             14467 non-null  object
 20  number_of_page          6694 non-null   object
dtypes: bool(1), float64(2), int64(10), object(8)
memory usage: 2.2+ MB

In [249]:
# Summarize the dataframe
df_union.describe()

,id,data_version,day_ago_created,price,list_price,original_price,discount,discount_rate,rating_average,review_count,favourite_count,all_time_quantity_sold
count,1.446700e+04,14467.0,14467.000000,1.446700e+04,1.446700e+04,1.446700e+04,14467.000000,14467.000000,14467.000000,14467.000000,14467.0,6898.000000
mean,1.457192e+08,3300.0,2122.691781,1.862761e+05,2.155432e+05,2.151796e+05,29273.104721,13.047695,1.113106,6.443699,0.0,107.798637
std,8.703925e+07,0.0,32986.229635,1.990923e+05,2.169529e+05,2.171547e+05,41848.810490,11.036424,2.028361,79.376131,0.0,878.791665
min,3.159800e+05,3300.0,0.000000,1.500000e+04,1.500000e+04,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.0,1.000000
25%,5.789184e+07,3300.0,160.000000,1.001000e+05,1.180000e+05,1.180000e+05,0.000000,0.000000,0.000000,0.000000,0.0,2.000000
50%,1.740362e+08,3300.0,426.000000,1.393000e+05,1.680000e+05,1.680000e+05,19900.000000,12.000000,0.000000,0.000000,0.0,5.000000
75%,2.141605e+08,3300.0,1049.000000,2.115300e+05,2.450000e+05,2.450000e+05,38000.000000,20.000000,0.000000,0.000000,0.0,25.000000
max,2.633260e+08,3300.0,737992.000000,9.863000e+06,9.863000e+06,9.863000e+06,850000.000000,81.000000,5.000000,4381.000000,0.0,31797.000000

* Summarize some questionable fields: 'inventory_status', 'inventory_type', 'has_ebook '.

In [250]:
df_union['inventory_status'].value_counts()

inventory_status
available       14428
out_of_stock       16
discontinued       14
upcoming            9
Name: count, dtype: int64

In [251]:
df_union['inventory_type'].value_counts()

inventory_type
backorder       13526
instock           936
discontinued        4
upcoming            1
Name: count, dtype: int64

In [252]:
df_union['has_ebook '].value_counts()

has_ebook
False    14467
Name: count, dtype: int64


### 1.2 Data Integrity
* No duplicated data
* Incomplete data: 'all_time_quantity_sold', 'authors', 'number_of_page', 'seller_name;spid;price'
* Inconsistent data: 'breadcrumbs', 'seller_name;spid;price'
* Up-to-date: The collected date is 20/06/2023, which I will add in the output result. The 'data_version' value is the same in every records (3300), thus all data are in the same version.
### 1.3 Cleaning changelog
* 'id' field: Reformat to string type.

In [253]:
df_union['id'] = df_union['id'].astype(str)

* 'day_ago_created ' field: Rename to 'total_existed_day'.

In [254]:
df_union.rename(columns = {'day_ago_created ' : 'total_existed_day'}, inplace = True)

* 'all_time_quantity_sold' field: Only products with at least 1 sold order will have values here. Thus I fill the null values with 0, change the field data type to integer, and change the name to 'total_quantity_sold'.

In [255]:
df_union['all_time_quantity_sold'] = df_union['all_time_quantity_sold'].fillna(0)
df_union['all_time_quantity_sold'] = df_union['all_time_quantity_sold'].astype('int64')
df_union.rename(columns = {'all_time_quantity_sold' : 'total_quantity_sold'}, inplace = True)

* 'seller_name;spid;price' field: Since I did not collect the detailed data from each seller, this column is not very informative. Hence, I decide only count the total seller of each product here, and give 0 to null value (the product with no current seller). After that, I reformat and rename the column to 'total_seller'.

In [256]:
df_union['seller_name;spid;price'] = df_union['seller_name;spid;price'].str.count(';') / 2
df_union['seller_name;spid;price'] = df_union['seller_name;spid;price'].fillna(0)
df_union['seller_name;spid;price'] = df_union['seller_name;spid;price'].astype('int64')
df_union.rename(columns = {'seller_name;spid;price' : 'total_seller'}, inplace = True)

* 'breadcrumbs' field: Split the field with '|' delimiter to a new table. The only meaningful data to collect here is in the 4th column. Then, I strip the data and give a new column name 'category'.

In [257]:
df_union['breadcrumbs'] = df_union['breadcrumbs'].str.split('|', expand=True)[3]
df_union['breadcrumbs'] = df_union['breadcrumbs'].str.strip()
df_union.rename(columns = {'breadcrumbs' : 'category'}, inplace = True)

* Drop incomplete fields: 'authors', 'number_of_page'.
* Drop irrelevent fields: 'data_version', 'favorite_count' (have only 0 value here), 'has_ebook ' (have only Fasle data here), 'url_path','inventory_type' (Only need the 'inventory_status' field).

In [258]:
# Drop fields with many null values, and irrelevant fields
df_union = df_union.drop(['data_version', 'favourite_count', 'has_ebook ',
                          'url_path', 'inventory_status', 'authors', 'number_of_page'], axis=1)

### Data rechecking

In [259]:
df_union.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14467 entries, 0 to 14466
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   14467 non-null  object
 1   name                 14467 non-null  object
 2   total_existed_day    14467 non-null  int64
 3   price                14467 non-null  int64
 4   list_price           14467 non-null  int64
 5   original_price       14467 non-null  int64
 6   discount             14467 non-null  int64
 7   discount_rate        14467 non-null  int64
 8   rating_average       14467 non-null  float64
 9   review_count         14467 non-null  int64
 10  total_quantity_sold  14467 non-null  int64
 11  inventory_type       14467 non-null  object
 12  total_seller         14467 non-null  int64
 13  category             14467 non-null  object
dtypes: float64(1), int64(9), object(4)
memory usage: 1.5+ MB

In [260]:
df_union.describe()

,total_existed_day,price,list_price,original_price,discount,discount_rate,rating_average,review_count,total_quantity_sold,total_seller
count,14467.000000,1.446700e+04,1.446700e+04,1.446700e+04,14467.000000,14467.000000,14467.000000,14467.000000,14467.000000,14467.000000
mean,2122.691781,1.862761e+05,2.155432e+05,2.151796e+05,29273.104721,13.047695,1.113106,6.443699,51.399392,3.659847
std,32986.229635,1.990923e+05,2.169529e+05,2.171547e+05,41848.810490,11.036424,2.028361,79.376131,609.178915,3.601226
min,0.000000,1.500000e+04,1.500000e+04,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,160.000000,1.001000e+05,1.180000e+05,1.180000e+05,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,426.000000,1.393000e+05,1.680000e+05,1.680000e+05,19900.000000,12.000000,0.000000,0.000000,0.000000,2.000000
75%,1049.000000,2.115300e+05,2.450000e+05,2.450000e+05,38000.000000,20.000000,0.000000,0.000000,5.000000,5.000000
max,737992.000000,9.863000e+06,9.863000e+06,9.863000e+06,850000.000000,81.000000,5.000000,4381.000000,31797.000000,28.000000